.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #FB7462;
    
    margin-bottom: 2rem;
  }

  .img-overlay {
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
  }

  .img-overlay img {
    border-radius: 20px;
    width: 100%;
  }

  .outline-heart {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    color: #FB7462;

  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
  }
  
  
  .container {
    width: 100%;
    padding-left: 1rem;
    padding-bottom: 1rem;
    
  }