.footer {
   
    /* background-color: rgba(128, 128, 128, 0.109); */
    /* background-color: blue; */
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookmark{
    height:2.5rem;
    width: 2.5rem;
    color:#FB7462    ;
}