.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    
    
}

form {
    width: 100%;
    display: flex;
    align-items: center;
}

.magnifying-glass {
    margin-left: -33px;
    height: 1.5rem;
    width: 1.5rem;
    color:#FB7462;
    

}



.search {
 height: 3.5rem;   
 width: 90%;
 border-radius: 15px;
 background-color: rgba(128, 128, 128, 0.199);
 border: none;
 outline: none;
 padding-left: 1rem;
 font-size: 1rem;
}

