body {
  background-color: navy;
  color: white;
}
.app {
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50%;
  align-items: center;
  justify-content: center;
  
}
